/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url('/media/background.jpg');
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para el encabezado h1 */
h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

/* Estilo para el contenedor de búsqueda y filtros */
#search-container {
 
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el campo de búsqueda */
#search-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilo para el botón de búsqueda */
#search-button,#create-kata-button {
    padding: 10px 20px;
    background-color: #00304E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #555;
}

/* Estilo para los filtros de ordenamiento */
label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
    color: #f9f9f9;
}

/* Estilo para los select de ordenamiento */
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilo para el contenedor de catálogos */
#catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-items: center;
}

/* Estilo para el catálogo individual */
.catalog-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    margin: 10px;
    margin-left: auto; /* Centra horizontalmente en toda la pantalla */
    margin-right: auto; /* Centra horizontalmente en toda la pantalla */
    max-width: 80%; /* Limita el ancho para mantener la legibilidad */
}

/* Aplica el cambio de color al pasar el mouse sobre el catálogo */
.catalog-item:hover {
    background-color: #cadffb; /* Cambia el color al pasar el mouse */
    transform: translateY(-5px);
}

/* Estilo para los elementos del catálogo (título, descripción, etc.) */
.catalog-item .Title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.catalog-item .Description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.catalog-item .Difficulty {
    font-size: 12px;
    font-style: italic;
    color: #888;
    margin-top: 5px;
}

.catalog-item .Category {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.catalog-item .Type {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

/* Estilo para el botón de detalles */
.catalog-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.catalog-item button:hover {
    background-color: #555;
}
/* Estilo para el contenedor del formulario */
#create-kata-form {
    display: none; /* Inicialmente oculto */
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para los campos de entrada de texto y textarea */
#kata-title, #kata-description, #kata-category {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los select */
#kata-difficulty, #kata-type {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Estilo para el botón "Guardar Kata" */
#save-kata-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#crearCuentaButton, #registrarseformButton {
    background-color: #b34f54;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#save-kata-button:hover {
    background-color: #555;
}
/* Estilo para el formulario de inicio de sesión */
#loginForm, #registroForm {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: #eeeeee;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado del formulario */
#loginForm, #registroForm h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas del formulario */
#loginForm label, #registroForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Estilo para los campos de entrada del formulario */
#nombreloggin, #contrasena, #nombreRegistro, #correoRegistro, #contrasenaRegistro {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo para el botón de inicio de sesión */
#iniciarSesionButton, #registrarseButton {
    background-color: #00304E;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#iniciarSesionButton:hover, #registrarseButton:hover {
    background-color: #45a049;
}
